In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!pip install -q pyspark

# ðŸ§¼ Tratamiento de Nulos y Duplicados en PySpark

In [2]:
import seaborn as sns
df = sns.load_dataset('titanic')
df.head(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False

# convertimos el DataFrame de pandas a DataFrame de pyspark

In [3]:
from pyspark.sql import SparkSession

# Inicializar SparkSession
spark = SparkSession.builder.appName("TitanicAnalysis").getOrCreate()

df = spark.createDataFrame(df)

df.printSchema()
df.show(5)

root
 |-- survived: long (nullable = true)
 |-- pclass: long (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: double (nullable = true)
 |-- sibsp: long (nullable = true)
 |-- parch: long (nullable = true)
 |-- fare: double (nullable = true)
 |-- embarked: string (nullable = true)
 |-- class: string (nullable = true)
 |-- who: string (nullable = true)
 |-- adult_male: boolean (nullable = true)
 |-- deck: string (nullable = true)
 |-- embark_town: string (nullable = true)
 |-- alive: string (nullable = true)
 |-- alone: boolean (nullable = true)

+--------+------+------+----+-----+-----+-------+--------+-----+-----+----------+----+-----------+-----+-----+
|survived|pclass|   sex| age|sibsp|parch|   fare|embarked|class|  who|adult_male|deck|embark_town|alive|alone|
+--------+------+------+----+-----+-----+-------+--------+-----+-----+----------+----+-----------+-----+-----+
|       0|     3|  male|22.0|    1|    0|   7.25|       S|Third|  man|      true| NaN|Southampton|   no|false|
|       1|     1|female|38.0|    1|    0|71.2833|       C|First|woman|     false|   C|  Cherbourg|  yes|false|
|       1|     3|female|26.0|    0|    0|  7.925|       S|Third|woman|     false| NaN|Southampton|  yes| true|
|       1|     1|female|35.0|    1|    0|   53.1|       S|First|woman|     false|   C|Southampton|  yes|false|
|       0|     3|  male|35.0|    0|    0|   8.05|       S|Third|  man|      true| NaN|Southampton|   no| true|
+--------+------+------+----+-----+-----+-------+--------+-----+-----+----------+----+-----------+-----+-----+
only showing top 5 rows

In [4]:
df.count()

891

# DROPNA()

In [5]:
df.dropna(how='any').count()

714

In [6]:
df.count() - df.dropna(how='any').count()

177

In [7]:
df.dropna(how='all').count()

891

# dropduplicates

In [15]:
df.dropDuplicates().count()

784

# ðŸ’¾ Persistencia de DataFrames en PySpark

## ðŸ”¹ Â¿QuÃ© significa "persistencia" en PySpark?

En PySpark, los DataFrames son **inmutables**. Esto significa que **cualquier transformaciÃ³n** que se realiza sobre un DataFrame (como `dropna()`, `filter()`, `withColumn()`, etc.) **no modifica el DataFrame original**, sino que devuelve **un nuevo DataFrame modificado**.

---

In [16]:
df.count()

891

In [17]:
df_drop = df.dropDuplicates()
df_drop.count()

784