In [1]:
!pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (4.9 kB)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.45)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)
Downloading psycopg2_binary-2.9.11-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (4.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 23.5 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11

In [4]:
from google.colab import userdata

BD_PWS = userdata.get('BD_PWS')
print("Secret 'BD_PWS' loaded successfully.")

Secret 'BD_PWS' loaded successfully.

In [5]:
import pandas as pd
import sqlalchemy

# Replace with your actual PostgreSQL connection details
DB_HOST = 'dpg-d5lr8psmrvns73encg2g-a.virginia-postgres.render.com'
DB_PORT = '5432'
DB_NAME = 'db_g6'
DB_USER = 'codigo'
DB_PASSWORD = BD_PWS

# Create the database connection string
DATABASE_URL = f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

# Create a database engine
engine = sqlalchemy.create_engine(DATABASE_URL)

try:
    # Define the table name to read from
    table_name = 'stock_data'

    # Read data from the SQL table into a Pandas DataFrame
    df_from_sql = pd.read_sql(f'SELECT * FROM {table_name}', engine)
    print(f"Data successfully loaded from table '{table_name}' into DataFrame.")
    print(df_from_sql.head())
except Exception as e:
    print(f"An error occurred while loading data from SQL: {e}")

Data successfully loaded from table 'stock_data' into DataFrame.
        Fecha  Precio Stock
0  2025-01-16   60.47    KO
1  2025-01-17   60.91    KO
2  2025-01-21   60.63    KO
3  2025-01-22   60.01    KO
4  2025-01-23   59.77    KO

In [6]:
df_from_sql

         Fecha  Precio Stock
0   2025-01-16   60.47    KO
1   2025-01-17   60.91    KO
2   2025-01-21   60.63    KO
3   2025-01-22   60.01    KO
4   2025-01-23   59.77    KO
5   2025-01-24   60.15    KO
6   2025-01-27   62.04    KO
7   2025-01-28   60.57    KO
8   2025-01-29   61.03    KO
9   2025-01-30   62.21    KO
10  2025-01-02   60.07    KO
11  2025-01-03   59.98    KO
12  2025-01-06   59.07    KO
13  2025-01-07   59.10    KO
14  2025-01-08   59.94    KO
15  2025-01-10   59.32    KO
16  2025-01-13   59.88    KO
17  2025-01-14   60.26    KO
18  2025-01-15   60.00    KO